@use '../abstracts/variables' as *;

/* height arbitrary class */
[class*="h-["] {
  height: var(--h-arbitrary) !important;
}

/* width arbitrary class */
[class*="w-["] {
  width: var(--w-arbitrary) !important;
}

/* Optional responsive variants */
@each $bp, $size in $breakpoints {
  @media (min-width: $size) {
    [class*="#{$bp}\:h-["] {
      height: var(--h-arbitrary);
    }
  }
}

@each $bp, $size in $breakpoints {
  @media (min-width: $size) {
    [class*="#{$bp}\:w-["] {
      width: var(--w-arbitrary);
    }
  }
}