@use '../abstracts/variables' as *;

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  // Responsive max widths
  @each $label, $size in $breakpoints {
    @media (min-width: $size) {
      max-width: $size;
    }
  }
}
